<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body class="bg-success-subtle bg-gradient">

    <nav class="nav navbar navbar-expand-lg bg-dark-subtle col-12">
        <div class="container text-black p-3 ">

            <h2>Expense Tracker</h2>

        </div>
    </nav>
    <div class="row">
        <div id="a" class="col m-lg-5">
            <p id="b"></p>
        </div>

        <div class="col card bg-primary-subtle m-lg-5" id="leaderboard">
            <div class="card-header">
                <button class="btn form-control  btn-outline-primary" id="downloadbtn">Download Expenses
                </button>
            </div>
            <div class="card-body">
                <h5 class="text-center">Download History</h5>
                <ul class="list-group" id="historyplaceholder">
                    <a class="list-group-item text-nowrap" href="">Nothing downloaded yet</a>
                </ul>
            </div>

        </div>

    </div>
    <footer class="bg-dark-subtle py-4 fixed-bottom text-black">
        <div class="container text-center">
            <p> Copyright © 2023 Simple.in All rights reserved. </p>
            <p>Contact: nasimpcm@gmail.com </p>
        </div>
    </footer>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"></script>
<script src="/js/pro.js"></script>

</html>