<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
</head>

<body class="bg-info-subtle">

    <nav class="nav navbar navbar-expand-lg bg-danger-subtle col-12">
        <div class="container text-black p-3 ">

            <h2>Expense Tracker</h2>

        </div>
    </nav>
    <div class="row">
        <div class="col m-lg-5">
            <h2>Expense Leaderboard</h2>
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Total Expense</th>
                    </tr>
                </thead>
                <tbody id="a">
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Total Expense</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col card bg-danger-subtle m-lg-5" id="leaderboard">
            <div class="card-header">
                <button class="btn form-control  btn-outline-info" id="downloadbtn">Download Expenses
                </button>
            </div>
            <div class="card-body">
                <h5 class="text-center">Download History</h5>
                <ul class="list-group" id="historyplaceholder">
                    <a class="list-group-item text-nowrap" href="">Nothing downloaded yet</a>
                </ul>
            </div>

        </div>

    </div>
    <footer class="bg-danger-subtle py-4">
        <div class="container text-center">
            <p> Copyright © 2023 Simple.in All rights reserved. </p>
            <p>Contact: nasimpcm@gmail.com </p>
        </div>
    </footer>


</body>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"></script>
<script src="/js/pro.js"></script>

</html>